<section class="home" id="home-container" (click)="fullScreen()">
    <div class="header">
        <div class="parasha">
            {{parasha}}
        </div>
        <div class="title">
            זמני תפילה
        </div>
        <div class="clock">
            {{clock | date:'H:mm'}}
        </div>
    </div>
    <div class="times">
        
        <div class="data-times">
            <div class="title-shabat sub-title">
                תפילות שבת
            </div>
            <div class="shabat-data-times-container">
                <div class="shabat-data-times" *ngFor="let shabatTime of shabatTimes;index as idx">
                    <div class="name">{{shabatTime.title}}</div>
                    <div class="data-time">{{shabatTime.value}}</div>
                </div>
            </div>
        </div>
        <div class=" data-times reg-data-times">
            <div class="title-reg sub-title">
                תפילות חול
            </div>
            <div class="shabat-data-times-container">
                <div class="shabat-data-times" *ngFor="let shabatTime of regTimes;index as idx">
                    <div class="name">{{shabatTime.title}}</div>
                    <div class="data-time">{{shabatTime.value}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="curr-footer">
        בית כנסת רשב"י
    </div>

</section>