<section class="shavuot" id="home-container" (click)="openFullscreen()">
  <div class="header">
    <div class="title">
      זמני תפילות
    </div>
    <div class="clock">
      {{clock | date:'H:mm'}}
    </div>
  </div>

  <div class="times">     
    <div class="data-times">
        <div class="title-shabat sub-title">
            תפילות ליל שבועות
        </div>
        <div class="shabat-data-times-container">
            <div class="shabat-data-times" *ngFor="let shabatTime of neightTimes;index as idx">
                <div class="name">{{shabatTime.title}}</div>
                <div class="data-time">{{shabatTime.value}}</div>
            </div>
        </div>
    </div>
    <div class=" data-times reg-data-times">
        <div class="title-reg sub-title">
            תפילות יום שבועות
        </div>
        <div class="shabat-data-times-container">
            <div class="shabat-data-times" *ngFor="let shabatTime of dayTimes;index as idx">
                <div class="name">{{shabatTime.title}}</div>
                <div class="data-time">{{shabatTime.value}}</div>
            </div>
        </div>
    </div>
</div>


  <div class="curr-footer">
    בית כנסת רשב"י
  </div>
</section>