<section class="home" id="home-container">
  <div class="header">
      <div class="date-title" *ngIf="view.rightTitle; else noRightTitle">
        {{view.rightTitle}}
      </div>
      <ng-template #noRightTitle>
          <div class="date-title">
            {{currentHebrewDate}}
        </div>
      </ng-template>
      <div class="title">
          <div class="title-text" (click)="refresh($event)">
              {{timesService.getTimes(view.title)}}
          </div>
      </div>
      <div class="clock" *ngIf="view.showClock && !dimention" (click)="dimention = true;">
          {{clock | date:'H:mm'}}
      </div>
      <div class="clock" *ngIf="view.showClock && dimention" (click)="dimention = false">
        H:{{dimHeight}}|W:{{dimWidth}}
    </div>
  </div>
  <div class="times">
      
      <div class="board right-board" >
          <boards-manager  [data]="view.rightBoard"></boards-manager>
      </div>
      <div class="board left-board">
          <boards-manager  [data]="view.leftBoard"></boards-manager>
      </div>
  </div>

  <div class="curr-footer">
      <div class="footer-text">
        {{view.footer}}
      </div>
  </div>

</section>
<!-- <button  (click)="openFullscreen();">Open Fullscreen</button>
<button (click)="closeFullscreen();">Close Fullscreen</button> -->