/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face { 
  font-family: gan_bold; 
  src: url(./assets/fonts/ganclm_bold-webfont.ttf); 
} 
// @font-face { 
//   font-family: shmulikclm; 
//   src: url(./assets/fonts/shmulikclm-webfont.ttf); 
// } 
// @font-face { 
//   font-family: SuezOne-Regular; 
//   src: url(./assets/fonts/SuezOne-Regular.ttf); 
// } 
// @font-face { 
//   font-family: hadasimclm-boldoblique; 
//   src: url(./assets/fonts/hadasimclm-boldoblique-webfont.ttf); 
// } 
@font-face { 
  font-family: hadasimclm-bold; 
  src: url(./assets/fonts/hadasimclm-bold-webfont.ttf); 
} 


// @mixin aspect-ratio($width, $height) {
//   position: relative;
//   overflow: hidden;
//   &:before {
//     content: "";
//     display: block;
//     width: 100%;
//     padding-top: ($height / $width) * 100%;
//   }
//   > * {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }  
//   > img {
//     height: 100%;
//     object-fit: cover;
//   }
// }