.date-cmp {

  font-family: hadasimclm-bold; 
 
   display: flex;
   flex-direction: column;
   direction: rtl;
   height: 100vh;
   align-items: center;
   overflow: hidden;
 
   background-image: url('../../../assets/imgs/klaf2.jpg');
 
 .header{
   margin-top: 25px;
   display: flex;
   justify-content: center;
   width: 90%;
   height: 70px;
   align-items: center;
   position: relative;
 
     .title{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 30%;
       font-weight: 700;
       font-size: 65px;
       padding: 5px;
       height: 70px;
       border-radius: 5px;

       background-image: url('../../../assets/imgs/klaf2.jpg');
       box-shadow: 10px 10px 19px 4px #13121257;
       // background-image: url('../../../assets/imgs/white-klaf.jpg');
     }
 
     .parasha{
       position: absolute;
       right: 10px;
       font-size: 65px;
       color: black;
     }
 
     .clock{
       font-size: 65px;
       color: black;
       position: absolute;
       left: 10px;
     }
   }
 
   .times{
     display: flex;
     justify-content: center;
     width: 100%;
     flex-grow: 1;
     margin: 20px;
   }
   .data-times {
     width: 44%;
     margin-right: 1%;
     margin-left: 1%;
     display: flex;
     flex-direction: column;
     align-items: center;
 
     font-size: 30px;
     padding: 15px;
     // background-image: url('../../../assets/imgs/klaf6.png');
     border-radius: 6%;
     box-shadow: 0px 0px 19px 4px #13121257;
 
     background: #ede574; 
     background: -webkit-linear-gradient(to right, #e1f5c4, #ede574); 
     background: linear-gradient(to right, #e1f5c4, #ede574 );
     
     .sub-title{
       background-color: #7e4c0b;
       color: whitesmoke;
       font-weight: 600;
       font-size: 40px;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 80%;
       height: 50px;
     }
 
     .reg-data-times{
       background: linear-gradient(to right,#ede574, #e1f5c4 ); 
     }
     .shabat-data-times-container{
       margin-top: 30px;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       flex-grow: 1;
       padding: 0 4%;
       width: 90%;
       font-size: 3vw;
     }
     .shabat-data-times{
       display: flex;
       justify-content:space-between;
       width: 100%;
       padding-top: 6vh;
     }
     .title-shabat{
       border-radius: 50% 0% 50% 0%;
   
     }
     .title-reg{
       border-radius: 0 50% 0 50%;
     }
   }
   
   .curr-footer{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 60px;
     font-weight: 700;
     font-size: 65px;
     padding: 5px;
     margin: 10px;
     border-radius: 5px;
     width: 40%;
     background-image: url('../../../assets/imgs/klaf2.jpg');
     box-shadow: 10px 10px 19px 4px #13121257;
   }
 
 }
 