.clean{
  height: 100vh;
  // background-image: url('../../../assets/imgs/clean6.jpg');
  background-size:cover;

  .cls1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    width: 100%;
    color: whitesmoke;
    direction: rtl;
    padding: 40% auto;
  }
}