<section class="izkor-person">

  <div class="person-container" *ngIf="izkorPerson">
    <div class="person-details">
      <div class="name" *ngIf="izkorPerson.name">
        {{izkorPerson.name}}
      </div>
      <div class="date-img-container">
        <div class="date" *ngIf="izkorPerson.date">
          {{izkorPerson.date}}
        </div>
        <image-container *ngIf="izkorPerson.img" class="person-img" [imageName]="izkorPerson.img"></image-container>
      </div>
      <div class="izkor-footer" *ngIf="izkorPerson.footer">
        {{izkorPerson.footer}}
      </div>
    </div>
      <!-- <image-container *ngIf="izkorPerson.img" class="person-img" [imageName]="izkorPerson.img"></image-container> -->
  </div>

</section>